@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@tailwind base;
@tailwind components;
@tailwind utilities;

.footer svg:hover {
  transform: scale(1.5);
}
.home-bg {
  background-position: right top;
  background-size: contain;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}
